body {
	margin: 0px auto;
	padding: 0px;
	overflow: hidden;
	background-color:#ffffff;
}

* {
	margin: 0px auto;
	padding: 0px;
}

#title {
	background: white;
}

#v {
	margin-top: 40px;
}

#version {
	font-size: 24px;
	color: #354967;
	font-weight: bold;
}

#l {
	margin-top: 40px;
	margin-left: 600px;
}

#logout {
	color: #354967;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}
#logout:hover{
	color:blue;
}
.inline {
	display: inline-block;
	text-align: left;
	vertical-align: top;
}