body {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	font-size: 12px;
	overflow: hidden;
	text-align: center;
	background-color: #ffffff;
}

#container {
	padding-top: 40px;
	height: 600px;
	background-color: #ffffff;
}

#container p {
	margin-left: 50px;
	margin-bottom: 50px;
}

.a_demo_three {
	background-color: #3bb3e0;
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #fff;
	position: relative;
	padding: 10px 20px;
	border-left: solid 1px #2ab7ec;
	margin-left: 35px;
}

.a_demo_three:active {
	top: 3px;

}

.a_demo_three:before {
	font-family:serif;
	background-color: #2561b4;
	content: "1";
	width: 35px;
	max-height: 29px;
	height: 100%;
	position: absolute;
	display: block;
	padding-top: 3px;
	top: 0px;
	left: -36px;
	font-size: 20px;
	font-weight: bold;
	color: #8fd1ea;
	text-shadow: 1px 1px 0px #07526e;
	border-right: solid 1px #07526e;
}

.a_demo_three:active:before {
	top: -3px;
	
}

.second_button:before {
	content: "2";
}

.third_button:before {
	content: "3";
}